
		<div class="container-fluid housing" style="padding: 0; margin: 50px 0 30px;">
			<div style="height: 100%; background-image: url('http://civinomics.files.wordpress.com/2014/01/san-francisco-fly-to-barcelona.jpg'); background-size: cover; position: relative">
				<div style="position: absolute; top:0; left:0; height: 100%; width: 100%; background-color: rgba(0,0,0,.3); z-index: 1;"></div>
				<div style="color:#fff; padding: 50px 80px; z-index: 2; position: absolute;">
					<h1 style="text-transform: uppercase;">San Francisco Housing Policy Brief</h1>
					<div class="row">
						<div class="col-sm-6"><p class="lead">Key data and overview of current policies to inform the discussion about housing availability in SF.</p>
						<p class="lead"><strong>A project of #DataSF</strong></p></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<!--
				<div class="page-header">
					<h1 style="color:#fff">Ownership Assistance</h1>
				</div>
			-->
			<div class="row">
				<h2>Overview</h2>
			</div>
			<hr>
			<div class="row">
				<h2>Policies</h2>
				<p class="lead">Current policies related to affordable housing for the City of San Francisco</p>
				<div class="col-sm-6">
					<div>
						<h4><img class="thumbnail id-image id-md" src="ownership_assistance_id.png"> Ownership Assistance</h4>
					</div>
				</div>
				<div class="col-sm-6">
					<table>
						<tr>
							<td><img class="thumbnail id-image id-md" src="ownership_assistance_id.png"></td>
							<td><h4> Rent Control</h4><p>Any building constructed before 1979 is eligible for rent control. Well geeze, aint that great.</p></td>
						</tr>
					</table>
				</div>


			</div>
			<hr>
			<div class="row">
				<h2>Organizations</h2>
			</div>

		</div>