


<div class="container-fluid" style="padding: 0; margin: 50px 0 30px;">
      <div style="height: 300px; background-image: url('http://pixel.nymag.com/imgs/daily/intelligencer/2014/03/13/affordable-housing/13-affordable-housing-richardson-apartments-san-francisco.w1120.h750.jpg'); background-size: cover; background-position: bottom; position: relative">
        <div style="position: absolute; top:0; left:0; height: 100%; width: 100%; background-color: rgba(0,0,0,.3); z-index: 1;"></div>
        <h1 style="color:#fff; padding: 50px 80px; z-index: 2; position: absolute;"><img class="thumbnail id-image" src="assets/policy_id_2.png"> Inclusionary Housing</h1>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-10">
            <!--
            <div class="page-header">
              <h1><img class="thumbnail id-image" src="assets/ownership_assistance_id.png"> Ownership Assistance</h1>
            </div>
            -->
          <div class="row">
            <div class="col-sm-12">
              <h3>Summary</h3>
              <p class="lead">Inclusionary housing programs require new private housing developments to include units that are affordable to low or middle income households.</p>
              <p>Inclusionary housing programs try to increase the supply of affordable units for owners and/or renters. Typically, the government entity establishes the rules for inclusionary housing and then regulates and monitors implementation.</p>
              <p>The San Francisco inclusionary housing program was created in 1992 and is now captured under Section 415 of the San Francisco Planning Code. The rule requires that new private housing developments with 10 or more units must either pay a fee or include in the project a subset of units that are affordable (for rent or ownership). Developers also have the option of building affordable units off-site. The Planning Department and the Mayor's Office of Housing and Community Development (MOHCD) manage the program. Read more about the inclusionary housing program at MOHCD's website.</p>
              <p>When developers opt to pay a fee instead of developing affordable units, the money is added to the Affordable Housing Trust Fund.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h3>Data</h3>
              <div class="row" style="margin-top:30px;">
                <div class="col-sm-12">
                  <h3 class="text-center">Population vs. Total Housing Units</h3>
                  <iframe height=412 width=960 src="//dev.wwsfweb.com/sfcode/t/H0160001,H0210001,P0010001/map/12" seamless frameborder=0 scrolling=yes></iframe>
                </div>
              </div>
              <table class="table table-striped">
                <tr><td>Total Units Created</td><td>0</td></tr>
                <tr><td>Total Units Effected</td><td>5,000</td></tr>
                  <tr><td>Total Cost of Policy</td><td>$112,345,000</td></tr>
                  <tr><td>Cost per Unit</td><td>$22,678</td></tr>
                  <tr><td>Benificiaries</td><td>12,343</td></tr>
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="success">Organizations</h3>
              <p>The <strong>Planning Department</strong> and the <strong>Mayor's Office of Housing and Community Development (MOHCD)</strong> manage the program. Read more about the inclusionary housing program at MOHCD's website.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="success">Resources</h3>
              <p><a href="http://sf-moh.org/Modules/ShowDocument.aspx?documentid=4605">2010-2014 Consolidated Plan</a> - San Francisco's 5 year plan for community development and affordable housing. Includes background data on housing demand and needs.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="success">Action Links</h3>
              <a href="http://sf-moh.org/index.aspx?page=152" class="btn btn-primary btn-lg">Look for rentals available through this program <span class="glyphicon glyphicon-arrow-right"></span></a><br><br>
              <a href="http://sf-moh.org/index.aspx?page=299" class="btn btn-primary btn-lg">Find units for sale through this program <span class="glyphicon glyphicon-arrow-right"></span></a>
              <br><br>
              <a herf="http://sf-moh.org/index.aspx?page=291" class="btn btn-primary btn-lg">Learn how to buy or rent a unit through this program <span class="glyphicon glyphicon-arrow-right"></span></a>

            </div>
          </div>
          <hr>
        </div>
        <div class="col-sm-2">
          <ul class="nav nav-pills nav-stacked">
            <!--
            <li><a href="#">Ownership Assistance</a></li>
            <li><a href="#">First Time Home Buyers</a></li>
            <li><a href="#">Rental Subsidies and Services</a></li>
            <li><a href="#">Public Housing</a></li>
            <li><a href="#">Rent Control</a></li>
            <li><a href="#">Inclusionary Housing</a></li>
            <li><a href="#">Cost Restricted Housing</a></li>
            -->
            <li><a href="#">Summary</a></li>
            <li><a href="#">Data</a></li>
            <li><a href="#">Organizations</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Action Links</a></li>
          </ul>
        </div>
      </div>

    </div>