<div class="container-fluid" style="padding: 0; margin: 50px 0 30px;">
  <div style="height: 300px; background-image: url('http://www.sfexaminer.com/imager/tweak-to-apartment-law-could-free-up-more-housing-in-san-francisco/b/original/2308396/603e/74418004_1_.jpg'); background-size: cover; position: relative">
    <div style="position: absolute; top:0; left:0; height: 100%; width: 100%; background-color: rgba(0,0,0,.3); z-index: 1;"></div>
    <h1 style="color:#fff; padding: 50px 80px; z-index: 2; position: absolute;"><img class="thumbnail id-image" src="assets/ownership_assistance_id.png"> Ownership Assistance</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-10">
        <!--
        <div class="page-header">
          <h1><img class="thumbnail id-image" src="assets/ownership_assistance_id.png"> Ownership Assistance</h1>
        </div>
      -->
      <div class="row">
        <div class="col-sm-6">
          <h3>Summary</h3>
          <p class="lead">Loans and Grants for Housing Rehabilitation and Loan Remediation. Additional Policy Summary: Individuals can apply for owner ship assistance with the blah blah agency and receive up to 10% of the value of a house in loan forgiveness etc.</p>
          <table class="table table-striped">
            <tr><td>Total Units Created</td><td>0</td></tr>
            <tr><td>Total Units Effected</td><td>5,000</td></tr>
            <tr><td>Total Cost of Policy</td><td>$112,345,000</td></tr>
            <tr><td>Cost per Unit</td><td>$22,678</td></tr>
            <tr><td>Benificiaries</td><td>12,343</td></tr>
          </table>
        </div>
        <div class="col-sm-6 text-center data-preview-wrapper">
         <iframe height=412 width=412 src="//dev.wwsfweb.com/sfcode/t/H0160001,H0210001,P0010001/map/12" seamless frameborder=0 scrolling=yes></iframe>
         <a href='/data' id='explore-button' class='hidden'>Explore</a>
       </div>
     </div>
     <hr>
     <div class="row">
      <h3 class="success">Pros</h3>
    </div>
    <hr>
    <div class="row">
      <h3>Cons</h3>
    </div>
    <hr>
    <div class="row">
      <h3>What we know</h3>
    </div>
    <hr>
    <div class="row">
      <h3>What we don't know</h3>
    </div>
    <hr>
    <div class="row">
      <h3>Additional Considerations</h3>
    </div>
    <hr>
    <div class="row">
      <h3>Detailed Policy Description</h3>
      <p>AMENDMENT HISTORY Division (b)(3) reference corrected; Ord. 62-13, Eff. 5/10/2013. SEC. 102.7. DWELLING UNIT. A room or suite of two or more rooms that is designed for, or is occupied by, one family doing its own cooking therein and having only one kitchen. A housekeeping room as defined in the Housing Code shall be a dwelling unit for purposes of this Code. For the purposes of this Code, a live/work unit, as defined in Section 102.13 of this Code, shall not be considered a dwelling unit. (Amended Ord. 443-78, App. 10/6/78; Ord. 412-88, App. 9/10/88) SEC. 102.8. FAMILY. A single and separate living unit, consisting of either:</p>
      <p>(a)  One person, or two or more persons related by blood, marriage or adoption or by legal guardianship pursuant to court order; plus necessary domestic servants and not more than three roomers or boarders; or </p>
      <p>(b)  A group of not more than five persons unrelated by blood, marriage or adoption or such legal guardianship. A group occupying group housing, or a hotel, motel or any other building or portion thereof other than a dwelling, shall not be deemed to be a family. (Amended Ord. 443-78, App. 10/6/78; Ord. 412-88, App. 9/10/88) SEC. 102.9. FLOOR AREA, GROSS. In districts other than C-3, the sum of the gross areas of the several floors of a building or buildings, measured from the exterior faces of exterior walls or from the centerlines of walls separating two buildings. Where columns are outside and separated from an exterior wall (curtain wall) which encloses the building space or are otherwise so arranged that the curtain wall is clearly separate from the structural members, the exterior face of the curtain wall shall be the line of measurement, and the area of the columns themselves at each floor shall also be counted.</p>

    </div>
    <hr>
    <div class="row">
      <h3>Organizations</h3>
      <div class="col-sm-6">
        <h4>Government Agencies</h4>
      </div>
      <div class="col-sm-6">
        <h4>Non-Profits</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <h3>Action Links</h3>
      <div class="col-sm-12">
        <button class="btn btn-primary btn-lg">Apply for Ownership Assistance</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
        <!--
        <li><a href="#">Ownership Assistance</a></li>
        <li><a href="#">First Time Home Buyers</a></li>
        <li><a href="#">Rental Subsidies and Services</a></li>
        <li><a href="#">Public Housing</a></li>
        <li><a href="#">Rent Control</a></li>
        <li><a href="#">Inclusionary Housing</a></li>
        <li><a href="#">Cost Restricted Housing</a></li>
      -->
      <li><a href="#">Summary</a></li>
      <li><a href="#">Detail</a></li>
      <li><a href="#">Pros</a></li>
      <li><a href="#">Cons</a></li>
      <li><a href="#">What we know</a></li>
      <li><a href="#">What we don't know</a></li>
      <li><a href="#">Additional Considerations</a></li>
      <li><a href="#">Additional Considerations</a></li>
      <li><a href="#">Additional Considerations</a></li>
    </ul>
  </div>
</div>