.housing {
  height: 600px;
}

.data-sf-nav{
	background-color: #326d89;
}

.nav-logo{
	height: 40px;
	padding: 0;
	margin: 5px 0 5px;
}

.id-image{
	padding: 0;
  margin: 0;
	height: 80px;
  width: 80px;
	display: inline-block;
  background: image-url('housing.png');
  background-size: cover;
}

.id-image.id-md{
	height: 60px;
}

.policy-table{
  margin-bottom: 20px;
}

.policy-table tr td{
  padding-right: 10px;
}
.policy-table tr td h4{
  padding-top: 0;
  margin-top: 0;
}

.nav.nav-pills.nav-stacked > li > a {
  color: #777;
}