.housing {
  height: 600px;
}
.data-sf-nav{
  background-color: #326d89;
}

.nav-logo{
  height: 40px;
  padding: 0;
  margin: 5px 0 5px;
}

.id-image{
  padding: 0;
  height: 150px;
  display: inline;
}

.id-image.id-md{
  height: 100px;
}

.policy-table{
  margin-bottom: 20px;
}

.policy-table tr td{
  padding-right: 10px;
  vertical-align: top;
}
.policy-table tr td h4{
  padding-top: 0;
  margin-top: 0;
}

.nav.nav-pills.nav-stacked>li>a {
  color: #777;
  font-size: 1.1em;
}

.footer{
  margin: 50px 0;
}

.top-space{
  margin-top: 30px;
}