.data-preview-wrapper {
  position: relative;
}

#explore-button {
  color: white;
  display: block;
  width: 150px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 20px;
  margin-left: -75px;
}