.container {
  margin: 30px auto;
}

h1 {
  img {
    margin-right: 20px;
  }
}

.overlay {
  text-align: center;
  height: 200px;
  margin-bottom: 30px;
}

.descriptive-overlay {
  position: absolute;
  background: rgba(0,0,0,0.7);
  width: 95%;
  height: 200px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 80px 0px;
  box-sizing: border-box;
}